@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.error-message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 5px;
}

.group-file {
  position: relative;

  .file-info-container {
    display: none;
    margin-top: fn.toRem(10);
    font-size: var.$fs-p-s;
    color: var.$grey;

    .file-name,
    .file-size {
      margin-bottom: fn.toRem(5);
    }
  }
}

.contact-header-container {
  margin: fn.toRem(200) fn.toRem(48);
  color: var.$darkgrey;

  .contact-title {
    font-size: fn.toRem(94);
    line-height: fn.toRem(94);
    font-weight: 400;
  }

  .contact-description {
    font-size: var.$fs-h2;
    font-weight: var.$fw-p;
    line-height: var.$lh-h2;
  }
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: fn.toRem(20);
  width: 80%;

  #dynamic-form {
    display: flex;
    flex-direction: column;
    gap: fn.toRem(30);
    color: #756F5E;

    .form-group {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 26px;
    }

    /* Hide labels */
    .group-label label {
      display: none;
    }

    /* Global style for inputs & textarea */
    .form-group {
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border: none;
        background: transparent;
        font-size: 16px;
        font-family: var.$font-family;
      }

      /* Delete border focus for inputs and textarea */
      input[type="text"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        outline: none;
        border: none;
        color: #756F5E;
      }

      input::placeholder,
      textarea::placeholder {
        color: #756F5E;
        opacity: 1;
      }
    }

    .group-cities {
      display: flex;
      flex-direction: row;

      .cities-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .cities-option {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .city-option {
            input[type="radio"] {
              display: none;

              &:checked + label {
                background-color: var.$white; /* Une couleur encore plus foncée pour la sélection */
                color: var.$grey;
                border: 1px solid var.$lightgrey;
              }
            }

            label {
              display: inline-block;
              padding: 4px 12px;
              margin: 5px;
              background-color: #D4CFC1;
              color: #756F5E;
              border-radius: 16px;
              cursor: pointer;
              transition: background-color 0.3s;
              border: 1px solid var.$white;
            }

            &label:hover {
              background-color: #B8B2A8; /* Une couleur plus foncée pour le survol */
              color: var.$white;
              border: 1px solid var.$white;
            }
          }
        }
      }
    }

    .group-text {
      padding-bottom: 12px;
      border-bottom: 1px solid #D4CFC1;
    }
  }
}

/* Supprime les flèches de dropdown pour les inputs de type file */
input[type="file"] {
  border: none;
}

/* Masquer le champ de fichier par défaut */
.custom-file-input {
  display: none;
}

/* Styliser le label pour ressembler à un bouton en forme de gélule */
.custom-file-label {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  background-color: #D4CFC1;
  color: #756F5E;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;

  svg {
    height: fn.toRem(13);
    margin-left: fn.toRem(8);
  }
}

/* Changer la couleur au survol */
.custom-file-label:hover {
  background-color: var.$grey;
  color: var.$white;

  svg {
    color: var.$white
  }
}

/* Optionnel : changer la couleur lorsque le fichier est sélectionné */
.custom-file-input:focus + .custom-file-label {
  background-color: var.$grey;
  color: var.$white;
}

#group-submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  position: relative;
  border: none;
  padding: 8px 24px;
  background-color: #756F5E;
  color: whitesmoke;
  border-radius: 20px;
  font-size: 16px;
  font-family: var.$font-family;
}

#submit-button {
  background: none;
  border: none;
  color: whitesmoke;
  font-family: var.$font-family;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.legal-text {
  a {
    color: var.$grey;
    text-decoration-line: underline;
  }
}

.form-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  color: var.$grey;

  .side-title {
    display: flex;
    align-items: center;
    gap: fn.toRem(8);
    font-size: 22px;
    line-height: 32px;

    svg {
      height: fn.toRem(8);
      width: fn.toRem(8);
      color: var.$grey
    }
  }

  .side-next {
    margin-bottom: 64px;
    border-top: 1px solid;
    padding-top: 24px;

    .next-title {
      display: flex;
      align-items: center;
      gap: fn.toRem(8);
      color: var.$grey;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 8px;

      svg {
        height: fn.toRem(8);
        width: fn.toRem(8);
        color: var.$grey
      }
    }

    .next-description {
      font-size: 16px;
      line-height: 26px;

      a {
        color: var.$grey;
        text-decoration: underline;
      }
    }
  }

  .side-desktop {
    display: block;
  }
}

.side-mobile {
  display: none;
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .contact-header-container {
    display: flex;
    flex-direction: column;
    margin: fn.toRem(200) fn.toRem(20) fn.toRem(48) fn.toRem(20);
    gap: fn.toRem(40);

    .contact-title {
      font-size: var.$fs-h1-s;
      line-height: var.$lh-h1-s;
    }
  }

  .side-mobile {
    display: block;
    margin: 0 fn.toRem(20) fn.toRem(40) fn.toRem(20);

    .next-title {
      display: flex;
      align-items: center;
      gap: fn.toRem(8);
      color: var.$grey;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 8px;

      svg {
        height: fn.toRem(8);
        width: fn.toRem(8);
        color: var.$grey
      }
    }

    .next-description {
      color: var.$grey;
      font-size: 16px;
      line-height: 26px;

      a {
        color: var.$grey;
        text-decoration: underline;
      }
    }
  }

  .form-side-container {
    .side-desktop {
      display: none;
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
}
