@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.block_articles {
  margin-top: unset !important;
}

.section-block-home-cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  background-size:cover;
  background-position: center;
  color: var.$white;
  padding: 0 fn.toRem(48);

  &.text-align {
    &-right {
      justify-content: flex-end;
      text-align: end;

      .description {
        padding-left: unset;
        padding-right: fn.toRem(48);
      }
    }

    &-center {
      justify-content: center;
      text-align: center;
    }

    &-bottom {
      justify-content: center;
      text-align: center;
      align-items: flex-end;

      .description {
        margin-bottom: fn.toRem(48);
        padding-left: unset;
      }
    }

    &-bottom-right {
      justify-content: flex-end;
      text-align: end;
      align-items: flex-end;

      .description {
        margin-bottom: fn.toRem(48);
        padding-left: unset;
      }
    }

    &-bottom-left {
      justify-content: flex-start;
      text-align: start;
      align-items: flex-end;

      .description {
        margin-bottom: fn.toRem(48);
        padding-left: unset;
      }
    }

    &-top {
      justify-content: center;
      text-align: center;
      align-items: flex-start;

      .description {
        margin-top: fn.toRem(120);
        padding-left: unset;
      }
    }

    &-top-right {
      justify-content: flex-end;
      text-align: end;
      align-items: flex-start;

      .description {
        margin-top: fn.toRem(120);
        padding-left: unset;
      }
    }

    &-top-left {
      justify-content: flex-start;
      text-align: start;
      align-items: flex-start;

      .description {
        margin-top: fn.toRem(120);
        padding-left: unset;
      }
    }
  }

  .description {
    width: 70%;
    padding-left: fn.toRem(48);
    font-size: var.$fs-h1-s;
    line-height: var.$lh-h1-s;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .section-block-home-cover {
    &.text-align {
      &-right {
        text-align: end;

        .description {
          padding-left: unset;
          padding-right: unset;
        }
      }
    }

    .description {
      width: 100%;
      padding-left: unset;
      font-size: var.$fs-h2;
      line-height: var.$lh-h2;
    }
  }
}