@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.section-people-wrapper {
  width: auto;
}

.section-block-people {
  .block-people {
    margin-top: fn.toRem(40);

    .block-people-title {
      font-size: var.$fs-h4;
      line-height: var.$lh-p;
      font-weight: var.$fw-xl;
      color: var.$grey;
    }

    .block-people-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: start;
      gap: fn.toRem(20);
      width: 100%;

      .popup-active {
        cursor: pointer;

        .people-image-button {
          position: relative;
          display: flex;
          justify-content: center;

          .people-button {
            position: absolute;
            bottom: fn.toRem(20);
            opacity: 0;
          }
        }

        &:hover {
          .people-image-button {
            .people-button {
              opacity: 1;
            }
          }
        }
      }

      .people-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        color: var.$grey;

        .people-name {
          margin-top: fn.toRem(24);
          font-size: var.$fs-h4;
          line-height: var.$lh-p;
          font-weight: var.$fw-p;
          text-align: center;
        }

        .people-description {
          text-align: center;
        }

        &:hover {
          filter: grayscale(0%);
        }
      }

      .people-image-button {
        .people-image {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .people-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    z-index: 100;

    .popup-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
      background: var.$white;
      padding: fn.toRem(20);
      border-radius: fn.toRem(8);
      max-width: fn.toRem(500);
      text-align: center;
      color: var.$grey;
      margin: fn.toRem(48) 0;
      overflow: scroll;

      .popup-name {
        font-size: var.$fs-h4;
        line-height: var.$lh-p;
        font-weight: var.$fw-p;
      }

      .popup-image {
        max-width: 100%;
        height: auto;
        margin-bottom: fn.toRem(15);
      }

      .popup-close {
        position: absolute;
        top: fn.toRem(20);
        right: fn.toRem(25);
        background: none;
        border: none;
        font-size: fn.toRem(36);
        color: var.$darkgrey;
        cursor: pointer;
      }
    }
  }

  .people-popup[hidden] {
    display: none;
  }

  .accordion-block {
    margin-bottom: fn.toRem(10);
    overflow: hidden;

    .accordion-title {
      padding: fn.toRem(15);
      margin: 0;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .accordion-icon {
        font-size: 20px;
        transition: transform 0.3s ease;
      }
    }

    .accordion-content {
      max-height: fn.toRem(10000);
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;

      &.closed {
        max-height: 0;
        padding: 0;
      }
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .section-block-people {
    .block-people {
      margin: unset;
      padding: fn.toRem(24) 0;
      border-top: 1px solid var.$lightgrey;

      .block-people-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .people-image-button {
          .people-button {
            display: none;
          }
        }

        .people-details {
          filter: grayscale(0%);
        }
      }
    }

    .accordion-block {
      margin-bottom: unset;
    }
  }
}