# production / local
_ENV=production

# LOCAL CONFIG
DATABASE_HOST=your-database-host
DATABASE_NAME=your-database-name
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password

WP_SITEURL=http://lcds.local/
WP_CONTENT_URL=http://lcds.local/

# USED FOR DATABASE IMPORT SCRIPTS
PROD_HOST=your-prod-host
PROD_USER=your-prod-user
PROD_SITEURL=your-prod-url
DATABASE_PROD_HOST=your-prod-db-host
DATABASE_PROD_NAME=your-prod-db-name
DATABASE_PROD_USER=your-prod-db-user
DATABASE_PROD_PASSWORD=your-prod-db-password