@use "../basics/variables" as var;
@use "../basics/functions" as fn;

.section-block-image-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: fn.toRem(64);
  padding: fn.toRem(104) fn.toRem(48) fn.toRem(48) fn.toRem(48);
  font-weight: var.$fw-p;
  color: var.$white;
  box-shadow: inset 100dvw 0 0 0 rgba(0, 0, 0, 0.3);

  .container {
    width: 40%;

    .title {
      font-size: var.$fs-h2;
      line-height: var.$lh-h2;
      font-weight: var.$fw-p;
    }

    .description {
      margin-top: fn.toRem(164);
      margin-bottom: fn.toRem(24);
      font-size: var.$fs-h4;
      line-height: var.$lh-p;
    }
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .section-block-image-text {
    padding: fn.toRem(80) fn.toRem(20);

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      gap: fn.toRem(48);

      .description {
        margin: unset;
      }
    }
  }
}