@use "../basics/functions" as fn;

.section-block-gallery-images {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100vh;
  gap: fn.toRem(20);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    background-position: center;
  }

  .align-left {
    aspect-ratio: 1 / 8;
  }
  .align-right {
    aspect-ratio: 7 / 8;
    flex-grow: 2;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .gallery-image {
    height: 100%;
    aspect-ratio: 16 / 9;
    padding: unset;
  }

  .gallery-images {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 fn.toRem(20);

    .align-left {
      aspect-ratio: 4 / 5;
    }
    .align-right {
      aspect-ratio: 1 / 1;
    }
  }
}