@use '../basics/variables' as var;
@use '../basics/functions' as fn;

.section-block-image-with-text {
  .block-text {
    display: grid;
    grid-template-columns: minmax(fn.toRem(1), auto) 1fr;
    padding: fn.toRem(182) fn.toRem(80) fn.toRem(182) fn.toRem(180);
    color: var.$white;
    font-size: var.$fs-h2;
    line-height: var.$lh-h2;
    font-weight: var.$fw-p;

    svg {
      margin-right: fn.toRem(12);
    }
  }

  .block-image {
    background-size: cover;
    background-position: center;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: fn.toRem(150);
  }

  .with-text {
    box-shadow: inset 100dvw 0 0 0 rgba(0, 0, 0, 0.7);
  }

  .no-text {
    height: 70dvh;
    width: auto;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:780px)  {
  .section-block-image-with-text {
    .block-text {
      padding: fn.toRem(80) fn.toRem(20);
      font-size: var.$fs-h2-m;
      line-height: var.$lh-p-xl;
      display: grid;
      gap: fn.toRem(24);
    }

    .block-image {
      padding: unset;
    }

    .no-text {
      height: 100dvh;
    }
  }
}